<!--index.vtl-->
<h1>Patient list!</h1>

<p>Add a new Patient:</p>

<form action="/patients" method="post">
  <div class="form-group">
    <label for="name">Patient Name</label>
    <input id="name" name="name" type="text">
  </div>

  <div class="form-group">
    <label for="birthdate">Birthdate</label>
    <input id="birthdate" name="birthdate" type="text">
  </div>
  
  <button type="submit" class="btn btn-default">Add patient</button>
</form>
<!--index.vtl-->
